$colorFont: #ff5722;
$colorBorderA: #cfd8dc;
$urlAdress: url(../img/header_background_v2.jpg);
$font: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$colorBgA: #0401ac;
$colorAHover: #fff;
$bodyBg: #efefef;
$articleBg: #fff;
$colorPost: #bdbdbd;
$colorPostH3: #607d8b;
$colorPostH3Border: #cfd8dc;
$colorMain: #757575;
$borderForm: 1px solid #cfd8dc;