$colorFont: #fff;
$colorBorderA: #648b60;
$urlAdress: url(../img/header_background_v1.jpg);
$font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$colorBgA: #01acac;
$bodyBg: #fff;
$articleBg: #efefef;
$colorPost: #e90303;
$colorPostH3: #0097a7;
$colorPostH3Border: #607d8b;
$colorMain: #000;