body {
  background: #fff;
  font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
  margin: 0; }
  body .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body .main-wrapper header {
      background: url(../img/header_background_v1.jpg) no-repeat top/cover;
      width: 100%;
      height: 50vw; }
      body .main-wrapper header .top-wrapper {
        display: flex;
        justify-content: space-between; }
        body .main-wrapper header .top-wrapper .logo img {
          width: 15vw; }
        body .main-wrapper header .top-wrapper nav a {
          text-transform: uppercase;
          font-weight: bold;
          color: #fff;
          text-decoration: none;
          border-left: 2px solid #648b60;
          padding: 10px 90px 10px 100px; }
          body .main-wrapper header .top-wrapper nav a:first-child {
            border: none; }
          body .main-wrapper header .top-wrapper nav a:hover {
            color: #e90303; }
      body .main-wrapper header section {
        margin-top: 15vw;
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .main-wrapper header section h1 {
          text-transform: uppercase;
          color: #fff; }
        body .main-wrapper header section a {
          padding: 10px 70px;
          background: #01acac;
          color: #fff;
          border: none;
          cursor: pointer;
          text-decoration: none; }
          body .main-wrapper header section a:hover {
            background: #1bc5f0; }
    body .main-wrapper main {
      color: #000;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      body .main-wrapper main .toolbar input {
        padding: 10px 40px 10px 20px;
        margin: 10px;
        border: 1px solid #607d8b;
        background: #fff; }
      body .main-wrapper main #list h1 {
        margin: 0;
        text-align: right;
        text-transform: uppercase; }
      body .main-wrapper main #list article {
        display: flex;
        margin: 0 0 20px 0;
        background: #efefef;
        padding: 10px 20px 10px 10px; }
        body .main-wrapper main #list article .post {
          margin: 0 0 0 10px; }
          body .main-wrapper main #list article .post .post-description {
            color: #e90303;
            margin-top: 10px;
            font-size: 13px; }
          body .main-wrapper main #list article .post h3 {
            color: #0097a7;
            text-transform: uppercase;
            font-weight: bold;
            border-top: 1px solid #607d8b;
            padding: 10px 0 0 0;
            margin: 5px 0; }
          body .main-wrapper main #list article .post p {
            margin: 0; }
        body .main-wrapper main #list article .btn {
          padding: 10px 70px;
          background: #01acac;
          color: #fff;
          border: none;
          cursor: pointer;
          float: right;
          right: 20px;
          margin-top: 20px; }
          body .main-wrapper main #list article .btn:hover {
            background: #1bc5f0; }
      body .main-wrapper main #about {
        margin-top: 20px;
        padding: 10px; }
        body .main-wrapper main #about h1 {
          margin: 0;
          text-align: right;
          text-transform: uppercase;
          right: 10px; }
        body .main-wrapper main #about p {
          margin: 0 0 20px 0; }
        body .main-wrapper main #about img {
          width: 100%; }
      body .main-wrapper main #contact {
        width: 100%;
        margin-top: 40px; }
        body .main-wrapper main #contact h1 {
          margin: 0;
          text-align: right;
          text-transform: uppercase; }
        body .main-wrapper main #contact h4 {
          margin: 0;
          text-align: right;
          text-transform: uppercase;
          top: 10px; }
        body .main-wrapper main #contact form {
          margin-top: 20px; }
          body .main-wrapper main #contact form .topForm {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px; }
            body .main-wrapper main #contact form .topForm input {
              height: 40px;
              border: 1px solid #607d8b;
              background: #fff; }
            body .main-wrapper main #contact form .topForm #fullName {
              width: 530px; }
            body .main-wrapper main #contact form .topForm #emailAddress {
              width: 530px; }
          body .main-wrapper main #contact form textarea {
            width: 100%;
            height: 120px;
            border: 1px solid #607d8b;
            margin-bottom: 15px;
            background: #fff; }
          body .main-wrapper main #contact form label {
            display: block;
            color: #0097a7;
            text-align: right; }
          body .main-wrapper main #contact form button {
            padding: 10px 70px;
            background: #01acac;
            color: #fff;
            border: none;
            cursor: pointer;
            display: block;
            margin-left: auto;
            margin-right: -10px; }
            body .main-wrapper main #contact form button:hover {
              background: #1bc5f0; }
    body .main-wrapper footer {
      display: block;
      margin-right: auto; }
      body .main-wrapper footer span {
        color: #000;
        font-size: 12px;
        padding: 10px; }
